<?xml version="1.0"?>
<configuration>
  <Clients>
    <Server name="Demo">
      <!--maxItemsInObjectGraph属性在需要传输大数据量数据时使用-->
      <client contract="WPW.Demo.Wcf.Interface.IUserBll"
              address="WPW/Demo/Wcf/Interface/IUserBll"
              maxItemsInObjectGraph="2147483647">
      </client>
    </Server>
  </Clients>
</configuration>