<?xml version="1.0"?>
<configuration>
  <Servers>
    <Server name="Demo">
      <Binding Binding="netTcpBinding"
               MaxBufferPoolSize="524288"
               MaxBufferSize="2147483647"
               MaxReceivedMessageSize="2147483647"
               MaxConnections="1000"
               ListenBacklog="200"
               SendTimeout="00:10:00"
               OpenTimeout="00:10:00"
               ReceiveTimeout="00:10:00"
               TransferMode="Buffered"
               SecurityMode="None"
               Address="localhost:30005"
               ReaderQuotasMaxDepth="64"
               ReaderQuotasMaxStringContentLength="2147483647"
               ReaderQuotasMaxArrayLength="16384"
               ReaderQuotasMaxBytesPerRead="4096"
               ReaderQuotasMaxNameTableCharCount="16384"
               ReliableSessionOrdered="true"
               ReliableSessionEnabled="false"
               ReliableSessionInactivityTimeout="00:10:00"
               IsUseWcfPool="true"
               WcfMaxPoolSize="100"
               WcfOutTime="600"
               WcfFailureTime="600"
               WcfPoolMonitorReapTime="30">
      </Binding>
      <!--负载均衡信息-->
      <LoadBalance IsUsed="true"
                   BalanceAlgorithm="ConsistentHashing"
                   IsUseWcfPool="true"
                   WcfOutTime="10"
                   WcfFailureTime="60"
                   WcfPoolMonitorReapTime="10">
        <Address WcfMaxPoolSize="1000" HeatBeatTime="00:00:00.500">localhost:30005</Address>
      </LoadBalance>
    </Server>
    <Server name="Demo1">
      <Binding Binding="netTcpBinding"
               MaxBufferPoolSize="524288"
               MaxBufferSize="2147483647"
               MaxReceivedMessageSize="2147483647"
               MaxConnections="1000"
               ListenBacklog="200"
               SendTimeout="00:10:00"
               OpenTimeout="00:10:00"
               ReceiveTimeout="00:10:00"
               TransferMode="Buffered"
               SecurityMode="None"
               Address="localhost:30005"
               ReaderQuotasMaxDepth="64"
               ReaderQuotasMaxStringContentLength="2147483647"
               ReaderQuotasMaxArrayLength="16384"
               ReaderQuotasMaxBytesPerRead="4096"
               ReaderQuotasMaxNameTableCharCount="16384"
               ReliableSessionOrdered="true"
               ReliableSessionEnabled="false"
               ReliableSessionInactivityTimeout="00:10:00"
               IsUseWcfPool="true"
               WcfMaxPoolSize="1000"
               WcfOutTime="10"
               WcfFailureTime="60"
               WcfPoolMonitorReapTime="5">
      </Binding>
      <!--负载均衡信息-->
      <LoadBalance IsUsed="true"
                   BalanceAlgorithm="ConsistentHashing"
                   IsUseWcfPool="true"
                   WcfOutTime="10"
                   WcfFailureTime="60"
                   WcfPoolMonitorReapTime="10">
        <Address WcfMaxPoolSize="1000" HeatBeatTime="00:00:00.500">localhost:30005</Address>
        <Address WcfMaxPoolSize="1000" HeatBeatTime="00:00:00.500">localhost:30006</Address>
        <Address WcfMaxPoolSize="1000" HeatBeatTime="00:00:00.500">localhost:30007</Address>
      </LoadBalance>
    </Server>
  </Servers>
</configuration>