<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <facilities>

    <!-- 日志配置 -->
    <facility id="logging"
                type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                loggingApi="log4net"
                configFile="log4net.config" />

    <!-- 数据库访问映射配置 -->
    <facility id="ibatis" type="Castle.Facilities.IBatisNetIntegration.IBatisNetFacility, Castle.Facilities.IBatisNetIntegration" >
      <!-- 支持多数据库 -->
      <sqlMap id="wcfstatistics" config="config/wcfstatistics.config"/>
    </facility>

    <!-- 事务配置 -->
    <facility id="transaction" type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />

  </facilities>


</configuration>