<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>

    <component id="IWcfServerDao"
				   service="WcfStatistics.Dao.Int.IWcfServerDao, WcfStatistics.Dao"
				   type="WcfStatistics.Dao.Imp.WcfServerDao, WcfStatistics.Dao" />

    <component id="IOperationInfoDao"
				   service="WcfStatistics.Dao.Int.IOperationInfoDao, WcfStatistics.Dao"
				   type="WcfStatistics.Dao.Imp.OperationInfoDao, WcfStatistics.Dao" />

    <component id="IBatchDao"
				   service="WcfStatistics.Dao.Int.IBatchDao, WcfStatistics.Dao"
				   type="WcfStatistics.Dao.Imp.BatchDao, WcfStatistics.Dao" />

    <component id="IClientConnInfoDao"
				   service="WcfStatistics.Dao.Int.IClientConnInfoDao, WcfStatistics.Dao"
				   type="WcfStatistics.Dao.Imp.ClientConnInfoDao, WcfStatistics.Dao" />

    <component id="IWcfServerPerformanceDao"
				   service="WcfStatistics.Dao.Int.IWcfServerPerformanceDao, WcfStatistics.Dao"
				   type="WcfStatistics.Dao.Imp.WcfServerPerformanceDao, WcfStatistics.Dao" />

  </components>

</configuration>