<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="config/properties_wcfstatistics.config"/>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>


  <providers resource="config/providers.config"/>
  
  <!-- Database connection information -->
  <database>
    <provider name="MySql5"/>
    <dataSource name="keywords" connectionString="Server=${datasource};Port=${port};Database=${database};Uid=${userid};Pwd=${password};" />
    <!--<dataSource name="keywords" connectionString="Server=${datasource}; User ID=${userid};Password=${password};Database=${database};Persist Security Info=True;Max Pool Size=2000" />-->
  </database>
  
   <sqlMaps>
     <!--加载文件-->
     <sqlMap resource="maps/Batch.BatisMap.xml" />
     <sqlMap resource="maps/ClientConnInfo.BatisMap.xml" />
     <sqlMap resource="maps/OperationInfo.BatisMap.xml" />
     <sqlMap resource="maps/WcfServerPerformance.BatisMap.xml" />
     <sqlMap resource="maps/WcfServer.BatisMap.xml" />
     <!--加载应用程序集-->
     <!--<sqlMap embedded="${root}WcfServer.BatisMap.xml,${assymbly}"/>-->
   </sqlMaps>

</sqlMapConfig>
