<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WpwWcfSeting" type="Eltc.Base.FrameWork.Helper.Wcf.InitConfig,Eltc.Base.FrameWork" requirePermission="false"/>
  </configSections>
  <WpwWcfSeting>
    <WcfServer Path="~/servercontract.config"/>
    <WcfConstant Path="~/serverconst.config"/>
  </WpwWcfSeting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
