<?xml version="1.0"?>
<configuration>
  <NetTcpBinding>
    <readerQuotas maxDepth="64"
                  maxStringContentLength="8192"
                  maxArrayLength="16384"
                  maxBytesPerRead="4096"
                  maxNameTableCharCount="16384" />
    <!--定义可靠会话状态参数-->
    <reliableSession enabled="false"
                     ordered="true"
                     inactivityTimeout="00:10:00"/>
    <!--定义发布的ip和端口，以及协议-->
    <host baseAddress="localhost:30005"
          binding="netTcpBinding" />
    <!--定义服务器端配置参数-->
    <behaviors closeTimeout="00:10:00"
               openTimeout="00:10:00"
               receiveTimeout="00:10:00"
               sendTimeout="00:10:00"
               transactionFlow="false"
               transferMode="Buffered"
               transactionProtocol="OleTransactions"
               hostNameComparisonMode="StrongWildcard"
               listenBacklog="200"
               maxBufferPoolSize="2147483647"
               maxBufferSize="2147483647"
               maxConnections="1000"
               maxReceivedMessageSize="2147483647"
               portSharingEnabled="false"
               securitymode="None"
               clientCredentialType="None">
    </behaviors>
    <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
    <serviceDebug includeExceptionDetailInFaults="true"/>
    <!--定义会话行为-->
    <serviceThrottling maxConcurrentCalls="1000"
                       maxConcurrentInstances="1000"
                       maxConcurrentSessions="1000"/>
  </NetTcpBinding>
</configuration>
