<?xml version="1.0"?>
<configuration>
  <Services>
    <!--maxItemsInObjectGraph定义序列化数据大小(大数据量使用)-->
    <service name="WPW.Demo.Wcf.Imp.UserBll,WPW.Demo.Wcf.Imp"
            contract="WPW.Demo.Wcf.Interface.IUserBll,WPW.Demo.Wcf.Interface"
            address="WPW/Demo/Wcf/Interface/IUserBll"
            maxItemsInObjectGraph="2147483647">
    </service>
  </Services>
</configuration>