
.icon_member { background:url(../bar_img/icon_member.gif) no-repeat; width:16px; height:17px; }
.icon_manager { background:url(../bar_img/icon_manager.gif) no-repeat; width:16px; height:17px; }
.icon_bar { background:url(../bar_img/icon_bar.gif) no-repeat; width:16px; height:17px; }
.icon_articles { background:url(../bar_img/icon_articles.gif) no-repeat; width:17px; height:18px; }
.icon_table2 { background:url(../images/icon_table_l.gif) no-repeat; width:17px; height:18px; }
.icon_folder_close { background:url(../images/icon_folder_close.gif) no-repeat; width:15px; height:13px; text-indent:20px; }
.icon_folder_open { background:url(../images/icon_folder_open.gif) no-repeat; width:17px; height:14px; text-indent:22px; }
.icon_article { background:url(../images/icon_article.gif) no-repeat; width:13px; height:16px; text-indent:18px; }
.icon_tab { background:url(../images/icon_tab.gif) no-repeat; width:13px; height:16px; text-indent:18px; }