@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; font-family:"宋体"; }
body { font-size:12px; }
img { border:0; }
li { list-style-type:none; }
input, select { font-size:12px; }
.Red{color:Red;}
.en { font-family:Verdana; font-size:11px; }
a { color:#028CE8; text-decoration:none; }
a:hover { color:#014B7A; text-decoration:underline; }
.all { width:100%; overflow:hidden; clear:both; }
.L { float:left; width:auto; }
.R { float:right; width:auto; }
.icon_back { background:url(../images/icon_back.jpg) left no-repeat; height:15px; text-indent:20px; }
/** frame **/
#leftFrame { border-right:6px solid #50ABD8; }
#mainFrame { border-left:1px solid #1A5673; } 
/** page **/
#header { width:100%; overflow:hidden; }
#header .top{ background:url(../images/top_bg.jpg) repeat-x; height:31px; padding-top:10px; text-indent:20px; border-bottom:1px solid #3775B0; }
#header .R { padding:3px 15px 0 0; color:#fff; }
#header .R * { color:#fff; }
#header .R strong { color:#ff0; text-decoration:none; }
#header .menu { background:url(../images/menu_bg.jpg) repeat-x; height:29px; }
#header .menu li { float:left; padding:8px 12px 0; font-size:12px; color:#fff; }
#header .menu li a { font-weight:bold; color:#fff; font-size:14px; }
#header .menu li a:hover { color:#ff0; text-decoration:blink; }
#header .menu li.hover { background:url(../images/menu_bg_h.jpg) repeat-x; height:27px; border:1px solid #fff; margin:1px 5px 0; padding:8px 15px 0; }
#header .menu li.hover a { color:#d00; }
#header .menu li.hover a:hover { text-decoration:none; }
#main_content { padding:10px; }
#main_content .t ul { width:100%; overflow:hidden; padding:5px 0; }
#main_content .t li { float:left; color:#003D6C; padding-left:1px;}
#main_content .t li a { background:url(../images/bread_nav_arrow.gif) right no-repeat; display:block; padding:0 15px 0 5px; }
#main_content .t .liclass { float:left; color:#028CE8; padding-left:1px; background:url(../images/bread_nav_arrow.gif) right no-repeat; display:block; padding:0 15px 0 5px;}
/* Tree */
#menu_left { background:#f2f9fe; }
#menu_left .title { background:#CDE7F4; border:1px solid #9CCCE2; border-left:0; border-right:0; padding:5px 0; font-weight:bold; font-size:14px; text-indent:10px; color:#001F32; }
.dtree { font-family:verdana; color:#000; white-space:nowrap; padding:5px; }
.dtree img { vertical-align:middle; }
.dtree a { color:#333; text-decoration:none; }
.dtree a.node, .dtree a.nodeSel { white-space:nowrap; padding:1px 0; }
.dtree a.node:hover, .dtree a.nodeSel:hover { color:#A92C00; text-decoration:none; }
.dtree a.nodeSel { font-size:12px; color:#A92C00; font-weight:bold; }
.dtree .clip { overflow:hidden; }
#footer { background:#50ADD9 url(../images/footer_bg.jpg) top repeat-x; padding:9px 0; text-align:center; color:#fff; }
/**search**/
.search { background:#CFE6F4; border:1px solid #A0CDE4; padding:3px; width:99%; overflow:hidden; margin:5px auto; }

/**************taglist**************/
.box{overflow: auto; width:700px; height:200px; border: solid 1px #50ADD9;}
.modulebox{overflow: auto; width:300px; border: solid 1px #50ADD9; line-height:20px;}
.tabs{padding:7px;padding-bottom:0px;border-bottom:1px solid #50ADD9}
.tab{margin:3px; padding:3px; padding-bottom:0px; background:white;border:1px solid #50ADD9; border-bottom:none; cursor:pointer; }
.tab_selected{margin:3px; padding:3px; padding-bottom:0px; background:#50ADD9;  border:1px solid #50ADD9; border-bottom:none; cursor:pointer;}

/**************bar**************/
.optionbar { float: left; margin-right: 0.5em; border: 1px solid #2d7600; background-position: 0 100%; height: 12px; background: #FFF;}
.optionbar div { float: left; border: 1px solid #FFF; height: 10px; overflow: hidden; background: #2d7600 url("../images/default/header_bg.gif"); background-repeat: repeat-x; }